---
---
ul.sticky-color-new {
	li a {
		background: #fcaf09;
	}

	li:nth-child(even) a {
		background: #c6dd2a;
	}

	li:nth-child(3n) a {
		background: #f8e70c;
	}

	li:nth-child(5n) a {
		background: #55c7f0;
	}

	li:nth-child(7n) a {
		background: #b788be;
	}
}